* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(20, 100%, 10%);
    font-family: 'Franklin Gothic Medium',  sans-serif;
}

.container {
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 10px 20px 0 hsla(0, 0%, 0%, 0.5);
}

.headline,
p {
    margin-bottom: 10px;
    color: hsl(20, 100%, 10%);
}

input,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}